In [9]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

#i) Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

In [10]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [11]:
response = requests.get(url)
print(response.status_code, '--->',url)
print('\n')
soup= BeautifulSoup(response.content, 'lxml')

200 ---> https://www.icc-cricket.com/rankings/mens/team-rankings/odi

In [12]:
Team=[]
Matches=[]
Points=[]
Rating=[]
Country = soup.find_all('span',class_="u-hide-phablet")
for i in Country:
    Team.append(i.get_text().replace("\n",""))
    Team=Team[0:10]

match=soup.find_all('td',class_='rankings-block__banner--matches')
matchs=soup.find_all('td',class_='table-body__cell u-center-text')
mtc = match + matchs

for i in mtc:
    Matches.append(i.text)
    Matches=Matches[0:10]
    
pt=soup.find_all('td',class_="rankings-block__banner--points")

pts= soup.find_all('td',class_ ="table-body__cell u-center-text")
Point= pt + pts
for i in Point:
    Points.append(i.get_text().replace("\n",""))
    Points=Points[0:10]
rating = soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in rating:
    Rating.append(i.get_text().replace("\n",""))
    Rating=Rating[0:10]
    
ODI=pd.DataFrame({})
ODI['Country']=Team
ODI['Matches']=Matches
ODI['Rating']=Rating
ODI['Points']=Points
print('\033[1m'+'ICC MENS ODI RANKING'+'\033[0m') # Print Title in bold case
ODI

ICC MENS ODI RANKING

        Country Matches Rating Points
0     Australia      35    113  3,965
1         India      47    112     47
2   New Zealand   5,294    111  5,294
3       England      30    106     30
4      Pakistan   3,367    101  3,367
5  South Africa      36     95     36
6    Bangladesh   3,988     87  3,988
7     Sri Lanka      25     72     25
8   West Indies   2,649     71  2,649
9   Afghanistan      29     51     29

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [13]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.content, 'lxml')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'})

Position.append(block_1.find('td',class_='rankings-block__position').text)
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text)
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text)

# Extracting other Player Ranking
table_rows =soup.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Batmans=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI MENS BATTING RANKING'+'\033[0m') # Print Title in bold case
ODI_Batmans

200 ---> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting



ICC ODI MENS BATTING RANKING

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Babar Azam,,887
1,2 ...,Rassie van der Dussen,SA,777
2,3 ...,Imam-ul-Haq,PAK,740
3,= ...,Quinton de Kock,SA,740
4,5 ...,Shubman Gill,IND,738
5,6 ...,David Warner,AUS,726
6,7 ...,Virat Kohli,IND,719
7,8 ...,Rohit Sharma,IND,707
8,9 ...,Steve Smith,AUS,702
9,10 ...,Fakhar Zaman,PAK,699
10,11 ...,Shai Hope,WI,698

## iii) Top 10 ODI bowlers along with the records of their team and rating

In [14]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.content, 'lxml')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Bowling=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI MENS BOWLING RANKING'+'\033[0m') # Print Title in bold case
ODI_Bowling

200 ---> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling



ICC ODI MENS BOWLING RANKING

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Josh Hazlewood,,705
1,2 ...,Trent Boult,NZ,701
2,3 ...,Mohammed Siraj,IND,691
3,4 ...,Mitchell Starc,AUS,686
4,5 ...,Rashid Khan,AFG,659
5,6 ...,Adam Zampa,AUS,652
6,7 ...,Shaheen Afridi,PAK,641
7,8 ...,Mujeeb Ur Rahman,AFG,637
8,9 ...,Shakib Al Hasan,BAN,636
9,10 ...,Matt Henry,NZ,635
10,11 ...,Mohammad Nabi,AFG,631